body {
	background-image: url('../images/city.gif');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Anton', sans-serif;
	color: white;
	letter-spacing: 2px;
}

h1 {
	font-size: 60px;
	font-family: 'abel', sans-serif;
	color: white;
}
#sub-but {
	color: black;
	background: pink;
	font-family: 'Caveat', cursive;
}
#start-btn {
	color: black;
	background: pink;
	font-family: 'Caveat', cursive;
}
#splashscreen {
	width: 35%;
	margin: 0 auto;
	border-radius: 5px;
}
#splashscreen h1 {
	color:white;
	border: none;
font-family: 'Caveat', cursive;
}
#splashscreen p {
	color: #ffffff;
	font-family: 'Abel', sans-serif;
}
#splashscreen h5 {
	color: #ffffff;
	font-family: 'Abel', sans-serif;
}
.black-background {
	background-color: #000000;
}

.white {
	color: #ffffff;
}

.splashBox {
	color: #ffffff;
	margin: 0 auto;
	text-align: center;
	padding: 4%;
	margin-top: 40%;
}

.splashBox2 {
	margin: 0 auto;
	text-align: center;
	padding: 4%;
}

.wrongBox {
	margin: 0 auto;
	text-align: center;
	padding: 4%;
}

#answerScreen {
	display: none;
	width: 40%;
	margin: 0 auto;
	padding: 2%;
	margin-top: 15%;
	font-size: 21px;
}

#timesUp {
	display: none;
	width: 35%;
	margin: 0 auto;
	padding: 2%;
	margin-top: 15%;
	font-size: 21px;
}

.up {
	color: white;
}

.timeRemain {
	padding: 2%;
	color:white;
}

.timeRemain #time-remain {
	font-size: 60px;
	font-family:cursive;
}

body .container {
	height: 100%;
	text-align: center;
	margin-bottom: 5%;
	padding-bottom: 2%;
	margin-top: 5%;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}

.questions {
	font-size: 25px;
}

.ques,
label {
	padding: 1%;
}
header {
	font-size: 60px;
	color:white;
	margin-top: 2%;
}